In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("diamonds.csv")
df1.head(2)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31

In [3]:
from patsy import dmatrices

In [15]:
formula = "price ~ " + " + ".join(df1.drop(columns=["cut", "color", "clarity", "price"]).columns)
formula

'price ~ carat + depth + table + x + y + z'

In [16]:
y,X = dmatrices(formula_like=formula, data = df1, return_type="dataframe")

In [17]:
df_vif = pd.DataFrame()

In [18]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [19]:
df_vif["VIF"] = [vif(X.values, i) for i in range(X.shape[1])]
df_vif["column"] = X.columns

In [20]:
df_vif

           VIF     column
0  4821.696350  Intercept
1    21.602712      carat
2     1.496590      depth
3     1.143225      table
4    56.187704          x
5    20.454295          y
6    23.530049          z