In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [3]:
df.groupby("season")["atemp", "casual"].corr()

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_9344\3856688002.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("season")["atemp", "casual"].corr()

                  atemp    casual
season
1      atemp   1.000000  0.478312
       casual  0.478312  1.000000
2      atemp   1.000000  0.378122
       casual  0.378122  1.000000
3      atemp   1.000000  0.381423
       casual  0.381423  1.000000
4      atemp   1.000000  0.443751
       casual  0.443751  1.000000

In [4]:
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [5]:
df["weather"].unique()

array([1, 2, 3, 4], dtype=int64)

In [7]:
def good_weather(x):
    if x==1:
        return 1
    else:
        return 0

In [8]:
df["weather_good"] = df["weather"].apply(lambda x: good_weather(x))
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weather_good
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1

In [9]:
df["weather_good"].unique()

array([1, 0], dtype=int64)

In [10]:
df.groupby("weather_good")["temp", "casual"].corr()

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_9344\2255737009.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("weather_good")["temp", "casual"].corr()

                         temp    casual
weather_good
0            temp    1.000000  0.446361
             casual  0.446361  1.000000
1            temp    1.000000  0.471053
             casual  0.471053  1.000000

In [12]:
round(abs(0.446361 - 0.471053), 3)

0.025

In [13]:
df12 = pd.read_csv("diabetes.csv")
df12.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [15]:
df12_1 = df12.loc[df12["BMI"] != 0, ]
df12_1.shape

(757, 9)

In [16]:
from sklearn.cluster import KMeans

In [17]:
kmeans_model = KMeans(n_clusters=4, random_state=123)

In [18]:
kmeans_model.fit(df12_1)

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=4, random_state=123)

In [19]:
kmeans_model.labels_

array([0, 0, 0, 2, 3, 0, 2, 0, 1, 0, 0, 0, 1, 3, 0, 3, 0, 2, 2, 3, 0, 0,
       0, 2, 2, 0, 2, 2, 0, 0, 3, 0, 0, 0, 3, 0, 0, 0, 3, 2, 0, 0, 3, 0,
       0, 0, 0, 0, 2, 0, 0, 3, 3, 0, 3, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0,
       2, 2, 2, 0, 3, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 3,
       0, 0, 2, 3, 0, 2, 2, 3, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 1, 0, 0,
       3, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2, 2, 2, 0, 3, 0, 3, 0, 0, 2,
       0, 2, 0, 3, 0, 0, 2, 0, 3, 0, 2, 0, 0, 3, 0, 2, 1, 0, 0, 2, 2, 2,
       2, 0, 2, 3, 0, 0, 2, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 0,
       2, 0, 0, 0, 0, 1, 2, 2, 2, 0, 2, 0, 0, 0, 3, 0, 0, 2, 3, 0, 0, 0,
       0, 3, 0, 3, 0, 2, 0, 0, 0, 0, 2, 3, 3, 2, 2, 0, 0, 1, 0, 0, 3, 2,
       0, 0, 0, 1, 2, 0, 1, 0, 0, 0, 0, 3, 0, 0, 0, 0, 2, 0, 3, 3, 0, 0,
       1, 1, 0, 0, 0, 2, 0, 3, 0, 0, 0, 1, 2, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 2, 0, 2, 0, 3, 0, 2, 2, 0, 0, 2, 1, 3, 0, 2, 0,
       2, 3, 3, 0, 2, 3, 3, 3, 0, 0, 2, 0, 0, 0, 2, 2, 2, 3, 3, 0, 2, 2,
       2, 0, 2, 2, 0, 2, 0, 3, 0, 0, 0, 0, 3, 2, 0, 2, 2, 0, 0, 0, 0, 2,
       3, 0, 0, 3, 0, 2, 2, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 0, 0, 3,
       0, 2, 3, 3, 0, 0, 0, 3, 2, 0, 0, 2, 2, 1, 2, 2, 2, 3, 2, 2, 0, 2,
       2, 0, 3, 2, 2, 0, 0, 0, 3, 2, 3, 0, 1, 2, 0, 3, 2, 0, 0, 0, 0, 0,
       2, 0, 0, 3, 0, 0, 0, 1, 0, 3, 3, 2, 3, 1, 0, 0, 0, 2, 3, 2, 2, 0,
       3, 3, 3, 2, 3, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2,
       2, 2, 2, 2, 0, 3, 0, 2, 0, 0, 2, 3, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0,
       2, 0, 0, 0, 0, 0, 0, 3, 2, 2, 0, 3, 0, 0, 2, 0, 3, 1, 3, 0, 0, 2,
       0, 0, 2, 0, 0, 2, 2, 3, 2, 0, 0, 2, 0, 0, 2, 3, 2, 0, 0, 3, 0, 0,
       2, 2, 3, 0, 0, 3, 2, 2, 0, 0, 0, 2, 2, 3, 0, 2, 0, 2, 0, 2, 0, 0,
       0, 3, 2, 3, 3, 0, 2, 2, 3, 3, 3, 2, 0, 0, 2, 0, 0, 2, 3, 0, 0, 0,
       0, 0, 3, 2, 2, 0, 2, 0, 2, 2, 3, 0, 0, 0, 2, 3, 2, 2, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 3, 0, 0, 2, 0, 2, 3, 3, 0, 0, 0, 2, 0, 0, 0,
       2, 0, 0, 3, 0, 3, 3, 2, 3, 3, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0,
       2, 0, 0, 0, 0, 0, 2, 0, 3, 0, 0, 0, 2, 2, 0, 2, 0, 0, 0, 2, 1, 2,
       3, 2, 0, 2, 2, 2, 0, 2, 1, 2, 3, 0, 2, 0, 0, 3, 2, 0, 2, 0, 0, 3,
       2, 3, 0, 0, 3, 0, 0, 0, 0, 0, 3, 0, 0, 2, 0, 3, 0, 0, 3, 3, 0, 0,
       2, 2, 0, 1, 2, 0, 2, 0, 3, 0, 0, 0, 2, 0, 3, 0, 2, 1, 0, 0, 3, 0,
       1, 3, 0, 3, 0, 0, 3, 2, 2, 0, 0, 3, 0, 0, 0, 2, 0, 2, 2, 0, 0, 2,
       0, 2, 0, 2, 2, 2, 0, 2, 2, 0, 2, 3, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0,
       0, 0, 0, 0, 3, 0, 2, 0, 0])

In [20]:
df12_1["label"] = kmeans_model.labels_
df12_1.head(2)

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_9344\1996354793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_1["label"] = kmeans_model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,label
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0

In [25]:
df12_1["label"].value_counts()

0    407
2    212
3    114
1     24
Name: label, dtype: int64

In [26]:
df12_1.groupby("label")["Insulin"].mean()

label
0      4.103194
1    509.166667
2    102.674528
3    224.035088
Name: Insulin, dtype: float64

In [27]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [28]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [29]:
model = KMeans(n_clusters = 4, random_state = 123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_9344\1053356287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [30]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64