In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("TV.csv")
df.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate

In [3]:
df.shape

(666, 11)

### Q1.

In [7]:
# ser_u = pd.Series(df["Frequency"].unique())
# ser_u = pd.Series(df["Picture_quality"].unique())
ser_u = pd.Series(df["Speaker"].unique())
ser_u[ser_u.str.contains("Hz")]

19     60 Hz Refresh Rate
31     50 Hz Refresh Rate
41    200 Hz Refresh Rate
46    120 Hz Refresh Rate
47    100 Hz Refresh Rate
dtype: object

In [10]:
df_q1 = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_q1.head(2)

            Frequency             Picture_quality              Speaker
0     1 Year Warranty          60 Hz Refresh Rate   2 x HDMI | 2 x USB
1  60 Hz Refresh Rate  HD Ready 1366 x 768 Pixels  20 W Speaker Output

In [11]:
df_q1["Hz_1"] = df_q1["Frequency"].str.contains("60 Hz") + 0
df_q1["Hz_2"] = df_q1["Picture_quality"].str.contains("60 Hz") + 0
df_q1["Hz_3"] = df_q1["Speaker"].str.contains("60 Hz") + 0
df_q1.head(2)

,Frequency,Picture_quality,Speaker,Hz_1,Hz_2,Hz_3
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0

In [12]:
df_q1["Hz_cnt"] = df_q1.loc[:, "Hz_1":].sum(axis = 1)
df_q1.head()

,Frequency,Picture_quality,Speaker,Hz_1,Hz_2,Hz_3,Hz_cnt
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0,1
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1
2,50 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,10 W Speaker Output,0,0,0,0
3,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1
4,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1

In [13]:
df_q1["Hz_cnt"].value_counts()

1    510
0    156
Name: Hz_cnt, dtype: int64

In [16]:
df[["Frequency", "Picture_quality", "Speaker"]].apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1).value_counts()

1    510
0    156
dtype: int64

In [ ]:
df[["Frequency", "Picture_quality", "Speaker"]]
.apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1).value_counts()

In [22]:
df_test = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_test.tail()

              Frequency                   Picture_quality              Speaker
661              1 YEAR                60 Hz Refresh Rate   2 x HDMI | 1 x USB
662  50 Hz Refresh Rate  Ultra HD (4K) 3840 x 2160 Pixels  20 W Speaker Output
663    3 Years Warranty                60 Hz Refresh Rate   2 x HDMI | 2 x USB
664  2 x HDMI | 2 x USB                 16 Speaker Output   50 Hz Refresh Rate
665              1 YEAR                50 Hz Refresh Rate   2 x HDMI | 2 x USB

In [19]:
import numpy as np

In [23]:
df_test["Frequency"] = np.where(df_test["Picture_quality"].str.contains("Hz"),
                                df_test["Picture_quality"], df_test["Frequency"])
df_test["Frequency"] = np.where(df_test["Speaker"].str.contains("Hz"),
                                df_test["Speaker"], df_test["Frequency"])
df_test.tail()

              Frequency                   Picture_quality              Speaker
661  60 Hz Refresh Rate                60 Hz Refresh Rate   2 x HDMI | 1 x USB
662  50 Hz Refresh Rate  Ultra HD (4K) 3840 x 2160 Pixels  20 W Speaker Output
663  60 Hz Refresh Rate                60 Hz Refresh Rate   2 x HDMI | 2 x USB
664  50 Hz Refresh Rate                 16 Speaker Output   50 Hz Refresh Rate
665  50 Hz Refresh Rate                50 Hz Refresh Rate   2 x HDMI | 2 x USB

### Q2.

In [24]:
df_q2 = df[["Stars", "Operating_system", "channel", "Picture_quality"]].copy()
df_q2.head(2)

,Stars,Operating_system,channel,Picture_quality
0,4.2,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate
1,3.8,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels

In [28]:
# ser_u = pd.Series(df_q2["Operating_system"].unique())
# ser_u = pd.Series(df_q2["channel"].unique())
ser_u = pd.Series(df_q2["Picture_quality"].unique())
ser_u[ser_u.str.contains("4K|8k")]

2                      Ultra HD (4K) 3840 x 2160 Pixels
4     Ultra HD (4K) Crystal 4K FE UHD (3840 x 2160) ...
7                        Ultra HD (4K) 3840×2160 Pixels
9                      Ultra HD (4K) 3860 x 2160 Pixels
10                       Ultra HD (4K) 3840X2160 Pixels
12                     Ultra HD (4K) 3840 × 2160 Pixels
13                       Ultra HD (4K) 3840*2160 Pixels
14                       Ultra HD (4K) 3840x2160 Pixels
34                     Ultra HD (4K) 3840 � 2160 Pixels
dtype: object

In [31]:
df_q2["4K_1"] = df_q2["Operating_system"].str.contains("4K") + 0
df_q2["4K_2"] = df_q2["channel"         ].str.contains("4K") + 0
df_q2["4K_3"] = df_q2["Picture_quality" ].str.contains("4K") + 0
df_q2["4k_cnt"] = df_q2[["4K_1", "4K_2", "4K_3"]].sum(axis = 1)

df_q2["8K_1"] = df_q2["Operating_system"].str.contains("8K") + 0
df_q2["8K_2"] = df_q2["channel"         ].str.contains("8K") + 0
df_q2["8K_3"] = df_q2["Picture_quality" ].str.contains("8K") + 0
df_q2["8k_cnt"] = df_q2[["8K_1", "8K_2", "8K_3"]].sum(axis = 1)

In [32]:
df_q2.head(2)

,Stars,Operating_system,channel,Picture_quality,4K_1,4K_2,4K_3,4k_cnt,8K_1,8K_2,8K_3,8k_cnt
0,4.2,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate,0,0,0,0,0,0,0,0
1,3.8,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels,0,0,0,0,0,0,0,0

In [35]:
df_q2["4k_cnt"].value_counts()[1], df_q2["8k_cnt"].value_counts()[1]

(365, 1)

In [36]:
stat_4k = df_q2.loc[df_q2["4k_cnt"] > 0, "Stars"].mean()
stat_8k = df_q2.loc[df_q2["8k_cnt"] > 0, "Stars"].mean()
round(abs(stat_4k - stat_8k), 2)

0.38

### Q3.

In [39]:
df_q3 = df.loc[~df["channel"].str.contains("Pixel|Oper", regex = True)]
df_q3 = df_q3.reset_index(drop = True)
df_q3.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
1,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate

In [40]:
df_q3["x1"] = df_q3["Reviews"] / df_q3["Ratings"]
df_q3["x2"] = df_q3["MRP"]
df_q3["x3"] = df_q3["current_price"] / df_q3["MRP"]
df_q3["x4"] = df_q3["channel"].str.contains("Netflix") + 0
df_q3["x5"] = df_q3["channel"].str.contains("Prime Video") + 0
df_q3["x6"] = df_q3["Picture_quality"].str.contains("4K|8K") + 0

In [41]:
df_q3.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency,x1,x2,x3,x4,x5,x6
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate,0.137941,21999,0.395427,1,0,0
1,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate,0.088577,21990,0.750296,1,1,0

In [43]:
df_q3.loc[:, "x1":"x6"].isna().sum()

x1    351
x2      0
x3      0
x4      0
x5      0
x6      0
dtype: int64

In [44]:
df_q3_sub = df_q3.dropna()
len(df_q3), len(df_q3_sub)

(548, 197)

548

In [45]:
df_model = df_q3_sub[["Stars", "x1", "x2", "x3", "x4", "x5", "x6"]].copy()
df_model.head(2)

   Stars        x1     x2        x3  x4  x5  x6
0    3.8  0.137941  21999  0.395427   1   0   0
1    4.4  0.088577  21990  0.750296   1   1   0

In [46]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
model = RandomForestRegressor(random_state = 123)
model.fit(X = df_model.iloc[:, 1:],
          y = df_model["Stars"])
model.feature_importances_

array([0.31220617, 0.17383963, 0.4446912 , 0.02714087, 0.02400442,
       0.01811773])

In [50]:
pd.DataFrame([model.feature_importances_], 
             columns = df_model.columns[1:])

         x1       x2        x3        x4        x5        x6
0  0.312206  0.17384  0.444691  0.027141  0.024004  0.018118