In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.tree import DecisionTreeRegressor

In [3]:
df = pd.read_csv("card_cust.csv")
df.head(2)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,10001,40.900749,0.818182,95.4,0.0,95.4,0.000000,0.166667,0.0,0.083333,0.00,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0
1,10002,3202.467416,0.909091,0.0,0.0,0.0,6442.945483,0.000000,0.0,0.000000,0.25,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0

### 전처리

In [4]:
df.isna().sum()

CUST_ID                              0
BALANCE                              0
BALANCE_FREQUENCY                    0
PURCHASES                            0
ONEOFF_PURCHASES                     0
INSTALLMENTS_PURCHASES               0
CASH_ADVANCE                         0
PURCHASES_FREQUENCY                  0
ONEOFF_PURCHASES_FREQUENCY           0
PURCHASES_INSTALLMENTS_FREQUENCY     0
CASH_ADVANCE_FREQUENCY               0
CASH_ADVANCE_TRX                     0
PURCHASES_TRX                        0
CREDIT_LIMIT                         0
PAYMENTS                             0
MINIMUM_PAYMENTS                    74
PRC_FULL_PAYMENT                     0
TENURE                               0
dtype: int64

In [5]:
df["MINIMUM_PAYMENTS"] = df["MINIMUM_PAYMENTS"].fillna(df["MINIMUM_PAYMENTS"].mean())

In [6]:
df.isna().sum()

CUST_ID                             0
BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [8]:
df_base = df.copy()

### Q1.

In [9]:
df_base["TENURE"].unique()

array([12.,  8., 11.,  9., 10.,  7.,  6.])

In [12]:
t = 12

df_q1_sub = df_base.loc[df_base["TENURE"] == t, ]
df_q1_sub[["BALANCE", "CREDIT_LIMIT"]].corr().iloc[0, 1]

0.4608334883447319

In [13]:
ls_corr = []

for t in df_base["TENURE"].unique():
    df_q1_sub = df_base.loc[df_base["TENURE"] == t, ]
    val_corr = df_q1_sub[["BALANCE", "CREDIT_LIMIT"]].corr().iloc[0, 1]
    ls_corr = ls_corr + [val_corr]

In [15]:
round(max(ls_corr), 2)

0.95

In [60]:
df_corr = df_base.groupby("TENURE")[["BALANCE", "CREDIT_LIMIT"]].corr()
df_corr.xs("BALANCE", level = 1)["CREDIT_LIMIT"]

TENURE
6.0     0.868056
7.0     0.948405
8.0     0.820696
9.0     0.085474
10.0    0.291482
11.0    0.380360
12.0    0.460833
Name: CREDIT_LIMIT, dtype: float64

### Q2.

In [16]:
df_base.shape

(1000, 18)

In [18]:
df_q2 = df_base.drop(columns = "CUST_ID")
df_q2_nor = StandardScaler().fit_transform(df_q2)

In [24]:
k = 2

model = KMeans(n_clusters = k, random_state = 1234)
model.fit(df_q2_nor)
sil_score = silhouette_score(df_q2_nor, model.labels_)
sil_score

0.3075281530456079

In [ ]:
ls_score = []

for k in range(2, 6):
    model = KMeans(n_clusters = k, random_state = 1234)
    model.fit(df_q2_nor)
    sil_score = silhouette_score(df_q2_nor, model.labels_)
    ls_score = ls_score + [sil_score]

In [27]:
ls_score

[0.3075281530456079,
 0.19636128772937608,
 0.207150984946399,
 0.19274056144483248]

In [31]:
k = 2

model = KMeans(n_clusters = k, random_state = 1234)
model.fit(df_q2_nor)

In [33]:
df_q2["cluster"] = model.labels_

In [34]:
df_q2.head(2)

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,40.900749,0.818182,95.4,0.0,95.4,0.000000,0.166667,0.0,0.083333,0.00,0.0,2.0,1000.0,201.802084,139.509787,0.000000,12.0,0
1,3202.467416,0.909091,0.0,0.0,0.0,6442.945483,0.000000,0.0,0.000000,0.25,4.0,0.0,7000.0,4103.032597,1072.340217,0.222222,12.0,0

In [36]:
df_q2.groupby("cluster")["ONEOFF_PURCHASES"].mean()

cluster
0     340.230998
1    3946.187525
Name: ONEOFF_PURCHASES, dtype: float64

In [37]:
df_q2.groupby("cluster")["ONEOFF_PURCHASES"].mean().round(2).max()

3946.19

### Q3.

In [41]:
8 % 4 == 0

True

In [42]:
df_train = df_base.loc[df_base["CUST_ID"] % 4 != 0, ]
df_test  = df_base.loc[df_base["CUST_ID"] % 4 == 0, ]

In [43]:
len(df_train), len(df_test)

(752, 248)

In [48]:
model_dt = DecisionTreeRegressor(random_state = 1234)
model_dt.fit(X = df_train.drop(columns = ["CUST_ID", "ONEOFF_PURCHASES"]),
             y = df_train["ONEOFF_PURCHASES"])
pred = model_dt.predict(df_test.drop(columns = ["CUST_ID", "ONEOFF_PURCHASES"]))

In [49]:
pred[:4]

array([1500.,    0., 1490.,    0.])

In [50]:
from sklearn.metrics import mean_squared_error

In [51]:
round(mean_squared_error(y_true = df_test["ONEOFF_PURCHASES"],
                         y_pred = pred) ** 0.5, 1)

1039.2

In [61]:
y_t = df_test["ONEOFF_PURCHASES"]
y_p = pred

In [67]:
round(((y_t - y_p) ** 2).mean() ** 0.5, 1)

1039.2

In [69]:
ser = pd.Series([1.23, 34.5])
ser.astype("int")

0     1
1    34
dtype: int32