In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("mobiles.csv")
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39

In [10]:
df["perform"] = (df["ROM"] / 32) + (df["RAM"] / 2) + df["num_rear_camera"] + df["num_front_camera"] + (df["battery_capacity"] / 1000)
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,perform
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,6.800
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39,9.815

In [16]:
overValue = df["sales"].mean() + 2*df["sales"].std()
overValue

146.5515012927322

In [21]:
df["isOverValue"] = (df["sales"] > overValue) + 0
df["result"] = df["isOverValue"] * df["perform"]
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,perform,isOverValue,result
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,6.800,0,0.0
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39,9.815,0,0.0

In [24]:
df["result"].value_counts()

0.00     414
12.00      4
10.00      3
8.50       2
11.00      2
14.00      1
17.50      1
9.00       1
8.60       1
10.08      1
Name: result, dtype: int64

In [25]:
df["result"].sum()

176.18

In [26]:
round((176.18 / 16),2)

11.01

In [32]:
df_sub = df[["sales", "battery_capacity", "ratings", "num_of_ratings", "sales_price", "discount_percent", "num_rear_camera"]]
df_sub.head()

,sales,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,num_rear_camera
0,127.52,1800,4.5,38645,32999,0.17,1
1,1.39,2815,4.5,244,57149,0.04,2
2,127.52,1800,4.5,38645,32999,0.17,1
3,23.07,2942,4.6,5366,42999,0.10,1
4,5.15,2815,4.6,745,69149,0.02,2

In [30]:
df_sub2 = df_sub.loc[df_sub["num_rear_camera"] > 1, :]
df_sub2.head(2)

,sales,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,num_rear_camera
1,1.39,2815,4.5,244,57149,0.04,2
4,5.15,2815,4.6,745,69149,0.02,2

In [31]:
df_sub3 = df_sub2.iloc[:, :-1]
df_sub3.head(2)

,sales,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent
1,1.39,2815,4.5,244,57149,0.04
4,5.15,2815,4.6,745,69149,0.02

In [33]:
df_sub3.corr()

,sales,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent
sales,1.000000,0.025680,0.226075,0.949114,-0.247760,0.223471
battery_capacity,0.025680,1.000000,-0.424129,0.034902,-0.503019,0.257373
ratings,0.226075,-0.424129,1.000000,0.191655,0.151153,-0.118578
num_of_ratings,0.949114,0.034902,0.191655,1.000000,-0.260279,0.212442
sales_price,-0.247760,-0.503019,0.151153,-0.260279,1.000000,-0.098640
discount_percent,0.223471,0.257373,-0.118578,0.212442,-0.098640,1.000000

In [37]:
round(0.949114, 2)

0.95

In [39]:
df = pd.read_csv("mobiles.csv")
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39

In [40]:
pd.get_dummies(df["screen_size"])

     Large  Medium  Small  Very Large  Very Small
0        0       0      0           0           1
1        0       0      1           0           0
2        0       0      0           0           1
3        0       1      0           0           0
4        0       1      0           0           0
..     ...     ...    ...         ...         ...
425      0       0      1           0           0
426      0       0      1           0           0
427      1       0      0           0           0
428      0       1      0           0           0
429      0       0      1           0           0

[430 rows x 5 columns]

In [45]:
pd.get_dummies(df, columns=["screen_size"])

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,0,0,0,0,1
1,64,4,2,1,2815,4.5,244,57149,0.04,1.39,0,0,1,0,0

In [46]:
df.head(2)

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,0,0,0,0,1
1,64,4,2,1,2815,4.5,244,57149,0.04,1.39,0,0,1,0,0

In [47]:
df_sub = df.iloc[:, [9,0,1,2,3,4,5,6,7,8,10,11,12,13, 14]]
df_sub.head(2)

,sales,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,127.52,64,2,1,1,1800,4.5,38645,32999,0.17,0,0,0,0,1
1,1.39,64,4,2,1,2815,4.5,244,57149,0.04,0,0,1,0,0

In [48]:
from sklearn.model_selection import train_test_split

In [51]:
df_train, df_test = train_test_split(df_sub, train_size=0.8, random_state=123)

In [52]:
from sklearn.preprocessing import MinMaxScaler

In [54]:
model_nor = MinMaxScaler().fit(df_train)
df_train_nor = model_nor.transform(df_train)
df_test_nor = model_nor.transform(df_test)

In [55]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=3)

In [57]:
df_train_nor = pd.DataFrame(df_train_nor, columns=df_train.columns)
df_test_nor = pd.DataFrame(df_test_nor, columns=df_test.columns)

In [58]:
model.fit(X = df_train_nor.iloc[:, 1:], y = df_train_nor["sales"])

KNeighborsRegressor(n_neighbors=3)

In [59]:
pred = model.predict()

TypeError: predict() missing 1 required positional argument: 'X'

## Q1 ANSWER

In [61]:
df_q1 = df[["ROM", "RAM", "num_front_camera", "num_rear_camera", "battery_capacity", "sales"]]
df_q1.head(2)

   ROM  RAM  num_front_camera  num_rear_camera  battery_capacity   sales
0   64    2                 1                1              1800  127.52
1   64    4                 1                2              2815    1.39

In [62]:
stat_mean = df_q1["sales"].mean()
stat_std = df_q1["sales"].std()
stat_out = stat_mean + stat_std * 2
stat_out

146.5515012927322

In [63]:
df_q1_sub = df_q1.loc[df_q1["sales"] > stat_out, ].reset_index(drop=True)
len(df_q1_sub)

16

In [67]:
df_q1_sub["idx"] = df_q1_sub["ROM"] / 32 + df_q1_sub["RAM"] / 2 + df_q1_sub["num_front_camera"] + df_q1_sub["num_rear_camera"] + df_q1_sub["battery_capacity"] / 1000

In [68]:
df_q1_sub.head(2)

   ROM  RAM  num_front_camera  num_rear_camera  battery_capacity   sales   idx
0  128    6                 1                2              4000  231.79  14.0
1  128    6                 2                4              4500  427.22  17.5

In [70]:
round(df_q1_sub["idx"].mean(), 2)

11.01

## Q2 ANSWER

In [73]:
df = pd.read_csv("mobiles.csv")
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39

In [75]:
# df_q2 = df.loc[df["num_rear_camera"] != 1, ]

In [76]:
# corr ì—ì„œ MAX êµ¬í•˜ê¸°

In [ ]:
df_q2_corr = df_q2.corr().reset_index().melt(id_vars = "index")
df_q2_corr.loc[df_q2_corr["index"] != df_q2_corr["variable"], ]
df_q2.corr

## Q3 ANSWER

In [77]:
df_q3 = df.copy()
df_q3.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39

In [78]:
df_q3.shape

(430, 11)

In [79]:
df_q3_dum = pd.get_dummies(df_q3)
df_q3_dum.shape

(430, 15)

In [80]:
df_q3_dum.head(2)

,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,64,2,1,1,1800,4.5,38645,32999,0.17,127.52,0,0,0,0,1
1,64,4,2,1,2815,4.5,244,57149,0.04,1.39,0,0,1,0,0

In [81]:
# index ë§¨ì•žìœ¼ë¡œ ì˜®ê¸°ê¸°!!!
df_q3_dum = df_q3_dum.set_index("sales").reset_index()
df_q3_dum.head(2)

,sales,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,127.52,64,2,1,1,1800,4.5,38645,32999,0.17,0,0,0,0,1
1,1.39,64,4,2,1,2815,4.5,244,57149,0.04,0,0,1,0,0

In [82]:
df_train, df_test = train_test_split(df_q3_dum, train_size=0.8, random_state=123)
len(df_train), len(df_test)

(344, 86)

In [83]:
model_nor = MinMaxScaler().fit(df_train)
df_train_nor = model_nor.transform(df_train)
df_test_nor = model_nor.transform(df_test)

In [84]:
k = 3

model_knn = KNeighborsRegressor(n_neighbors=k)
model_knn.fit(X = df_train_nor[:, 1:], 
             y = df_train_nor[:, 0])
pred = model_knn.predict(df_test_nor[:, 1:])

from sklearn.metrics import mean_squared_error
val_rmse = mean_squared_error(y_true=df_test_nor[:, 0], 
                             y_pred = pred) ** 0.5
val_rmse

0.08186677375964535

In [85]:
for k in [3,5,7,9,11]:
    print(k)

3
5
7
9
11

In [88]:
ls_rmse = []
for k in [3,5,7,9,11]:
    model_knn = KNeighborsRegressor(n_neighbors=k)
    model_knn.fit(X = df_train_nor[:, 1:], 
                 y = df_train_nor[:, 0])
    pred = model_knn.predict(df_test_nor[:, 1:])
    val_rmse = mean_squared_error(y_true=df_test_nor[:, 0], 
                                 y_pred = pred) ** 0.5
    ls_rmse.append(val_rmse)

In [89]:
ls_rmse

[0.08186677375964535,
 0.09879109824384892,
 0.107669855645971,
 0.11232111394853059,
 0.1136902366621185]