In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("galaxy_users.csv")
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No

In [3]:
df.shape

(7032, 21)

In [5]:
ser = pd.Series(df["OnlineSecurity"].unique())
ser

0                     No
1                    Yes
2    No internet service
dtype: object

In [6]:
df_sub = df[["OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingTV", "StreamingMovies"]].copy()
df_sub.head(2)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,No,No,No

In [18]:
df_sub["x1"] = df_sub["OnlineSecurity"].str.contains("Yes|No") + 0
df_sub["x2"] = df_sub["OnlineBackup"].str.contains("Yes|No") + 0
df_sub["x3"] = df_sub["DeviceProtection"].str.contains("Yes|No") + 0
df_sub["x4"] = df_sub["TechSupport"].str.contains("Yes|No") + 0
df_sub["x5"] = df_sub["StreamingTV"].str.contains("Yes|No") + 0
df_sub["x6"] = df_sub["StreamingMovies"].str.contains("Yes|No") + 0
df_sub.head(2)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,x1,x2,x3,x4,x5,x6,x11,x21,x31,x41,x51,x61
0,No,Yes,No,No,No,No,1,1,1,1,1,1,1,1,1,1,1,1
1,Yes,No,Yes,No,No,No,1,1,1,1,1,1,1,1,1,1,1,1

In [21]:
df_sub["x11"] = df_sub["OnlineSecurity"].str.contains("Yes") * (df_sub["x1"] == 1) + 0
df_sub["x21"] = df_sub["OnlineBackup"].str.contains("Yes") * (df_sub["x2"] == 1) + 0
df_sub["x31"] = df_sub["DeviceProtection"].str.contains("Yes") * (df_sub["x3"] == 1) + 0
df_sub["x41"] = df_sub["TechSupport"].str.contains("Yes") * (df_sub["x4"] == 1) + 0
df_sub["x51"] = df_sub["StreamingTV"].str.contains("Yes") * (df_sub["x5"] == 1) + 0
df_sub["x61"] = df_sub["StreamingMovies"].str.contains("Yes") * (df_sub["x6"] == 1) + 0

In [22]:
df_sub.head(2)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,x1,x2,x3,x4,x5,x6,x11,x21,x31,x41,x51,x61
0,No,Yes,No,No,No,No,1,1,1,1,1,1,0,1,0,0,0,0
1,Yes,No,Yes,No,No,No,1,1,1,1,1,1,1,0,1,0,0,0

In [24]:
df_sub2 = df_sub[["x11", "x21", "x31", "x41", "x51", "x61"]]

In [25]:
df_sub2.head(2)

   x11  x21  x31  x41  x51  x61
0    0    1    0    0    0    0
1    1    0    1    0    0    0

In [28]:
df_sub2["service"] = df_sub2.loc[:, :].sum(axis=1)
df_sub2.head(2)

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\2090434696.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub2["service"] = df_sub2.loc[:, :].sum(axis=1)

   x11  x21  x31  x41  x51  x61  service
0    0    1    0    0    0    0      1.0
1    1    0    1    0    0    0      2.0

In [29]:
df_sub2["service"].value_counts()

0.0    2213
3.0    1117
2.0    1033
1.0     966
4.0     850
5.0     569
6.0     284
Name: service, dtype: int64

In [30]:
round(966 / 284, 1)

3.4

In [31]:
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No

In [32]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [33]:
df_sub = df[["tenure", "MonthlyCharges", "TotalCharges"]]

In [37]:
df_sub["month"] = df_sub["TotalCharges"] // df_sub["MonthlyCharges"]

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\4176248469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["month"] = df_sub["TotalCharges"] // df_sub["MonthlyCharges"]

In [38]:
df_sub.head(2)

   tenure  MonthlyCharges  TotalCharges  month
0       1           29.85         29.85    1.0
1      34           56.95       1889.50   33.0

In [40]:
df_sub = df_sub[["tenure", "MonthlyCharges", "month"]]
df_sub.head(2)

   tenure  MonthlyCharges  month
0       1           29.85    1.0
1      34           56.95   33.0

In [41]:
df_sub.corr(method="pearson")

                  tenure  MonthlyCharges     month
tenure          1.000000        0.246862  0.998831
MonthlyCharges  0.246862        1.000000  0.246164
month           0.998831        0.246164  1.000000

In [42]:
round(0.998831, 3)

0.999

In [43]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [54]:
df_sub = df[["SeniorCitizen", "Partner", "Dependents", "tenure", "MonthlyCharges", "TotalCharges", "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies", "PaperlessBilling"]]
df_sub.head(2)

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,Yes,No,1,29.85,29.85,No,Yes,No,No,No,Yes
1,0,No,No,34,56.95,1889.50,Yes,No,Yes,No,No,No

In [55]:
df_sub["x1"]=df_sub["Partner"].str.contains("Yes|No") + (-1)
df_sub["x11"]=(df_sub["Partner"].str.contains("Yes") + 0) + df_sub["x1"]

df_sub["x2"]=df_sub["Dependents"].str.contains("Yes|No") + (-1)
df_sub["x21"]=(df_sub["Dependents"].str.contains("Yes") + 0) + df_sub["x2"]

df_sub["x3"]=df_sub["OnlineSecurity"].str.contains("Yes|No") + (-1)
df_sub["x31"]=(df_sub["OnlineSecurity"].str.contains("Yes") + 0) + df_sub["x3"]

df_sub["x4"]=df_sub["OnlineBackup"].str.contains("Yes|No") + (-1)
df_sub["x41"]=(df_sub["OnlineBackup"].str.contains("Yes") + 0) + df_sub["x4"]

df_sub["x5"]=df_sub["DeviceProtection"].str.contains("Yes|No") + (-1)
df_sub["x51"]=(df_sub["DeviceProtection"].str.contains("Yes") + 0) + df_sub["x5"]

df_sub["x6"]=df_sub["TechSupport"].str.contains("Yes|No") + (-1)
df_sub["x61"]=(df_sub["TechSupport"].str.contains("Yes") + 0) + df_sub["x6"]

df_sub["x7"]=df_sub["StreamingMovies"].str.contains("Yes|No") + (-1)
df_sub["x71"]=(df_sub["StreamingMovies"].str.contains("Yes") + 0) + df_sub["x7"]

df_sub["x8"]=df_sub["PaperlessBilling"].str.contains("Yes|No") + (-1)
df_sub["x81"]=(df_sub["PaperlessBilling"].str.contains("Yes") + 0) + df_sub["x8"]

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x1"]=df_sub["Partner"].str.contains("Yes|No") + (-1)
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x11"]=(df_sub["Partner"].str.contains("Yes") + 0) + df_sub["x1"]
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x2"]=df_sub["Dependents"].str.contains("Yes|No") + (-1)
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x21"]=(df_sub["Dependents"].str.contains("Yes") + 0) + df_sub["x2"]
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x3"]=df_sub["OnlineSecurity"].str.contains("Yes|No") + (-1)
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x31"]=(df_sub["OnlineSecurity"].str.contains("Yes") + 0) + df_sub["x3"]
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x4"]=df_sub["OnlineBackup"].str.contains("Yes|No") + (-1)
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_16380\923255626.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["x41"]=(df_sub["OnlineBackup"].str.contains("Yes") + 0) + df_sub["x4"]

In [56]:
df_sub.head(2)

,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,x4,x41,x5,x51,x6,x61,x7,x71,x8,x81
0,0,Yes,No,1,29.85,29.85,No,Yes,No,No,...,0,1,0,0,0,0,0,0,0,1
1,0,No,No,34,56.95,1889.50,Yes,No,Yes,No,...,0,0,0,1,0,0,0,0,0,0

In [57]:
df_sub2 = df_sub[["SeniorCitizen", "x11", "x21", "tenure", "MonthlyCharges", "TotalCharges", "x31", "x41", "x51", "x61", "x71", "x81"]]
df_sub2.head(2)

,SeniorCitizen,x11,x21,tenure,MonthlyCharges,TotalCharges,x31,x41,x51,x61,x71,x81
0,0,1,0,1,29.85,29.85,0,1,0,0,0,1
1,0,0,0,34,56.95,1889.50,1,0,1,0,0,0

In [58]:
from sklearn.model_selection import train_test_split

In [60]:
trainX, testX = train_test_split(df_sub2, train_size=0.7, random_state=123)

In [61]:
from sklearn.preprocessing import MinMaxScaler

In [64]:
MinMaxScaler().fit(df_sub2)
df_sub2.head(2)

,SeniorCitizen,x11,x21,tenure,MonthlyCharges,TotalCharges,x31,x41,x51,x61,x71,x81
0,0,1,0,1,29.85,29.85,0,1,0,0,0,1
1,0,0,0,34,56.95,1889.50,1,0,1,0,0,0

In [65]:
# Q1 Answera

In [68]:
df.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No

In [66]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [67]:
df_q1 = df.loc[:, "OnlineSecurity":"StreamingMovies"].copy()
df_q1.head(2)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,No,No,No

In [69]:
df_q1["OnlineSecurity"].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [71]:
# df_q1.unique()
# df_q1.drop_duplicates()

In [74]:
for n_col in range(6):
    print(df_q1.columns[n_col], ":",  df_q1.iloc[:, n_col].unique())

OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']

In [75]:
df_q1.apply(lambda x: x.unique())

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,No,Yes,No,No,No,No
1,Yes,No,Yes,Yes,Yes,Yes
2,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [76]:
df_q1.apply(lambda x: x.unique()).melt()["value"].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [77]:
df_q1_sub = df_q1.loc[df_q1["OnlineSecurity"] != "No internet service"]
len(df_q1), len(df_q1_sub)

(7032, 5512)

In [79]:
df_q1_sub.apply(lambda x: x.unique()).melt()["value"].unique()

array(['No', 'Yes'], dtype=object)

In [81]:
df_q1_sub = df_q1_sub.replace({"Yes" : 1, "No" : 0})
df_q1_sub["cnt"] = df_q1_sub.sum(axis=1)
df_q1_sub.head(2)

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,cnt
0,0,1,0,0,0,0,1
1,1,0,1,0,0,0,2

In [83]:
df_q1_sub["cnt"].value_counts()

3    1117
2    1033
1     966
4     850
0     693
5     569
6     284
Name: cnt, dtype: int64

In [84]:
round(df_q1_sub["cnt"].value_counts()[1] / df_q1_sub["cnt"].value_counts()[6], 1)

3.4

In [86]:
import numpy as np
df_q1_sub3 = df_q1.replace({"No internet service":np.nan}).dropna()

In [87]:
len(df_q1_sub3)

5512

In [88]:
# Q2 Answer

In [89]:
df_q2 = df[["tenure", "MonthlyCharges", "TotalCharges"]].copy()
df_q2.head(2)

   tenure  MonthlyCharges  TotalCharges
0       1           29.85         29.85
1      34           56.95       1889.50

In [90]:
df_q2["month"] = df_q2["TotalCharges"] // df_q2["MonthlyCharges"]
df_q2.head(2)

   tenure  MonthlyCharges  TotalCharges  month
0       1           29.85         29.85    1.0
1      34           56.95       1889.50   33.0

In [91]:
df_q2.drop("TotalCharges", axis = 1).corr()

                  tenure  MonthlyCharges     month
tenure          1.000000        0.246862  0.998831
MonthlyCharges  0.246862        1.000000  0.246164
month           0.998831        0.246164  1.000000

In [92]:
df_q2.drop("TotalCharges", axis = 1).corr()["month"].round(3)[0]

0.999

In [93]:
# Q3 Answer

In [100]:
df_q3 = df[["Churn", "SeniorCitizen", "Partner", "Dependents", "tenure", "MonthlyCharges", "TotalCharges", "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingMovies", "PaperlessBilling"]]
df_q3.head(2)

,Churn,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,No,0,Yes,No,1,29.85,29.85,No,Yes,No,No,No,Yes
1,No,0,No,No,34,56.95,1889.50,Yes,No,Yes,No,No,No

In [101]:
df_q3 = df_q3.replace({"Yes":1, "No":0})
df_q3.head(2)

,Churn,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,0,1,0,1,29.85,29.85,0,1,0,0,0,1
1,0,0,0,0,34,56.95,1889.50,1,0,1,0,0,0

In [102]:
df_q3_cat = df_q3.select_dtypes(exclude="number")
df_q3_cat.head()

  OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingMovies
0              0            1                0           0               0
1              1            0                1           0               0
2              1            1                0           0               0
3              1            0                1           1               0
4              0            0                0           0               0

In [95]:
df_q3_cat.dtypes

customerID          object
gender              object
Partner             object
Dependents          object
PhoneService        object
MultipleLines       object
InternetService     object
OnlineSecurity      object
OnlineBackup        object
DeviceProtection    object
TechSupport         object
StreamingTV         object
StreamingMovies     object
Contract            object
PaperlessBilling    object
PaymentMethod       object
Churn               object
dtype: object

In [103]:
df_q3 = df_q3.replace({"No internet service":-1})
df_q3.head(2)

,Churn,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0,0,1,0,1,29.85,29.85,0,1,0,0,0,1
1,0,0,0,0,34,56.95,1889.50,1,0,1,0,0,0

In [104]:
df_train, df_test = train_test_split(df_q3, train_size=0.7, random_state=123)
len(df_train), len(df_test)

(4922, 2110)

In [105]:
model_nor = MinMaxScaler().fit(df_train)
df_train_nor = model_nor.transform(df_train)
df_test_nor = model_nor.transform(df_test)

In [106]:
df_train_nor[:2, ]

array([[1.        , 0.        , 0.        , 0.        , 0.08450704,
        0.81116094, 0.07551927, 0.5       , 1.        , 0.5       ,
        0.5       , 1.        , 1.        ],
       [1.        , 0.        , 1.        , 0.        , 0.        ,
        0.60737419, 0.00698708, 0.5       , 0.5       , 0.5       ,
        0.5       , 0.5       , 1.        ]])

In [107]:
df_train_nor = pd.DataFrame(df_train_nor, columns=df_train.columns)
df_test_nor = pd.DataFrame(df_test_nor, columns=df_test.columns)
df_train_nor.head(2)

,Churn,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,1.0,0.0,0.0,0.0,0.084507,0.811161,0.075519,0.5,1.0,0.5,0.5,1.0,1.0
1,1.0,0.0,1.0,0.0,0.000000,0.607374,0.006987,0.5,0.5,0.5,0.5,0.5,1.0

In [108]:
from sklearn.linear_model import LogisticRegression

In [110]:
model_lr = LogisticRegression(random_state=123)
model_lr.fit(X = df_train_nor.drop(columns="Churn"), 
            y = df_train_nor["Churn"])
pred = model_lr.predict(df_test_nor.drop(columns = "Churn"))
pred[:4]

array([0., 0., 0., 0.])

In [111]:
from sklearn.metrics import f1_score

In [113]:
round(f1_score(y_true = df_test_nor["Churn"], 
               y_pred = pred), 2)

0.55

In [114]:
# ì—­ë³€í™˜

In [115]:
pd.DataFrame(model_nor.inverse_transform(df_test_nor.head(2)), columns = df_test.columns)

,Churn,SeniorCitizen,Partner,Dependents,tenure,MonthlyCharges,TotalCharges,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,PaperlessBilling
0,0.0,0.0,0.0,0.0,35.0,20.2,684.40,-1.0,-1.0,-1.0,-1.0,-1.0,1.0
1,0.0,0.0,0.0,0.0,18.0,75.9,1373.05,0.0,0.0,0.0,1.0,0.0,1.0