In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [4]:
df_1 = df.head()
df_2 = df.tail(1)

In [5]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [9]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax

MinMaxScaler()

In [10]:
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [11]:
 nor_minmax.transform(df_2.iloc[:, :-1])

array([[ 2.6,  0. , 19. ,  1.6]])

In [12]:
nor_minmax = MinMaxScaler().fit(df_2.iloc[:, :-1])
nor_minmax.transform(df_2.iloc[:, :-1])

array([[0., 0., 0., 0.]])

In [13]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:, :-1])
nor_minmax.transform(df_1.iloc[:, :-1])

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [16]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:, :-1]),
                         columns = df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           1.0     0.833333           0.5          0.0
1           0.6     0.000000           0.5          0.0
2           0.2     0.333333           0.0          0.0
3           0.0     0.166667           1.0          0.0
4           0.8     1.000000           0.5          0.0

In [17]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:, :-1]))
df_minmax

     0         1    2    3
0  1.0  0.833333  0.5  0.0
1  0.6  0.000000  0.5  0.0
2  0.2  0.333333  0.0  0.0
3  0.0  0.166667  1.0  0.0
4  0.8  1.000000  0.5  0.0

In [18]:
model = KMeans(n_clusters=3, random_state=123).fit(df.iloc[:, :-1])
model

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3, random_state=123)

In [19]:
model.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2])

In [20]:
model.cluster_centers_

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [22]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_5352\1415571257.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            6.850000     3.073684      5.742105     2.071053
1            5.006000     3.428000      1.462000     0.246000
2            5.901613     2.748387      4.393548     1.433871

In [24]:
# BMI 가 0 이 아닌 사람 데이터를 대상으로 K-means 군집 분석을 실시하는 경우
# 군집 개수가 가장 큰 군집의 Insulin 평균은 얼마인가?
# 군집 = 4, Seed = 123

In [25]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [26]:
df_sub = df.loc[df["BMI"] != 0]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [27]:
model = KMeans(n_clusters=4, random_state=123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_5352\1872946890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [28]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [34]:
df_sub.groupby("cluster")["Insulin"].mean()

cluster
0      4.103194
1    509.166667
2    102.674528
3    224.035088
Name: Insulin, dtype: float64

In [35]:
# BMI 가 0이 아닌 사람 데이터를 대상으로 k-means 군집 분석을 실시하는 경우
# 군집 개수가 가장 큰 군집의 나이 평균은 얼마인가?
# 군집 = 4, seed = 4
# 군집 분석 이전에 minmax 정규화
# 나이계산은 정규화 전 데이터

In [36]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [39]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [40]:
nor_minmax = MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_sub)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.352941,0.743719,0.590164,0.353535,0.0,0.314928,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.0,0.171779,0.116567,0.166667,0.0

In [41]:
model = KMeans(n_clusters=4, random_state=123).fit(df_sub_nor)
df_sub["cluster"] = model.labels_
df_sub.head(3)

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\GODIMODE\AppData\Local\Temp\ipykernel_5352\1306268973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,2
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,2

In [43]:
df_sub["cluster"].value_counts()

0    361
1    135
2    131
3    130
Name: cluster, dtype: int64

In [44]:
df_sub.groupby("cluster")["Age"].mean()

cluster
0    25.667590
1    29.977778
2    44.297710
3    46.753846
Name: Age, dtype: float64

In [68]:
# BMI 가 0 이 아닌 사람 데이터를 대상으로 K-means 군집 분석을 실시하고 
# 군집의 중심점간 유클리드 거리가 가장 가까운 그룹간 거리는?
# 군집 = 3, seed = 123

In [69]:
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [70]:
df_sub = df.loc[df["BMI"] != 0, ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [71]:
model = KMeans(n_clusters=3, random_state=123).fit(df_sub)

C:\Users\GODIMODE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [72]:
df_centers = pd.DataFrame(model.cluster_centers_, columns=df_sub.columns)
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
1,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [73]:
df_centesr = df_centers.transpose()
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
1,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [74]:
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 1]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 1] - df_centers.iloc[:, 2]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:, 0] - df_centers.iloc[:, 2]) ** 2) ** 0.5)

227.6786465381356
113.59436821655622
115.83694067391939